extends base.pug

block content
    dev
        p=video.description
        small=video.createAt
    br
    a(href=`${video.id}/edit`) Edit Video &rarr;
    br
    a(href=`${video.id}/delete`) Delete Video &rarr;